.sidebar {
  border-right: 1px solid #dfe7ef;
  width: 20%;
  flex: 0 0 20%;
}

.search {
  padding: 20px 10px;
  display: flex;
  border-bottom: 1px solid #dfe7ef;
  background-color: white;
}

.search__input {
  padding: 0.5em 2em;
  border-radius: 10px;
  flex: 1;
  margin-right: 10px;
  border: 1px solid #dfe7ef;
}
.search__input:hover,
.search__input:focus {
  outline: none;
}

.search__submit {
  flex: 0 0 40px;
  min-width: 40px;
}

.threads {
  overflow-y: auto;
  list-style: none;
}

.thread {
  padding: 15px;
  display: block;
  color: inherit;
  border-bottom: 1px solid #dfe7ef;
  background-color: white;
}
.thread:not(.thread--active):hover {
  background-color: #f5f8fc;
}

.thread--active {
  background-color: #7b16ff;
  cursor: default;
}
.thread--active .thread__title,
.thread--active .thread__messagesCount {
  color: white;
}

.thread__title {
  font-size: 20px;
  margin-top: 0;
}

.thread__bottom {
  display: flex;
  justify-content: flex-end;
}

.thread__messagesCount {
  color: #828c99;
}

.content {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.writeMessage {
  flex: 0 0 auto;
  min-width: 70px;
  padding: 15px;
  border-top: 1px solid #dfe7ef;
  display: flex;
  align-items: center;
}

.writeMessage__text {
  height: 80px;
  padding: 0.5em 1em;
  border: 1px solid #dfe7ef;
  border-radius: 6px;
  flex: 1;
}
.writeMessage__text:hover,
.writeMessage__text:focus {
  outline: none;
  border: 1px solid #acc1d6;
}

.writeMessage__save {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex: 0 0 40px;
}
.writeMessage__save:hover .writeMessage__save__icon,
.writeMessage__save:focus .writeMessage__save__icon {
  fill: #7b16ff;
}

.writeMessage__save__icon {
  width: 32px;
  height: 32px;
}

.messageBlocks {
  padding: 15px;
  overflow-y: auto;
  flex: 1;
}

.messageBlock {
  margin-bottom: 20px;
}

.messageBlock__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.messageBlock__header > hr {
  flex: 1;
  background-color: #f5f8fc;
  height: 1px;
  border: none;
}

.messageBlock__header__date {
  color: #a3afbf;
  font-size: 12px;
  font-weight: 500;
  flex: 0 0 auto;
  margin: 0 15px;
}

.messageBlock__messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.message--they {
  align-self: flex-start;
  align-items: flex-start;
}
.message--they .message__content {
  background-color: #e6ecf7;
  background-image: radial-gradient(
    at left top,
    #f6fbfc 0%,
    #e6ecf7 100%
  );
}
.message--they .message__content__text {
  color: #16171a;
}

.message--me {
  align-self: flex-end;
  align-items: flex-end;
}
.message--me .message__content {
  background-color: #7b16ff;
}
.message--me .message__content__text {
  color: white;
}

.message__userName {
  color: #828c99;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.message__row {
  display: flex;
  align-items: flex-end;
}

.message__content {
  padding: 8px 16px;
  display: inline-block;
  border-radius: 10px;
}

.message__content__text {
  line-height: 1.4;
  font-weight: 400;
  margin: 0;
}

.message__like > * {
  vertical-align: top;
}
.message__like:hover .message__like__icon,
.message__like:focus .message__like__icon {
  fill: #7b16ff;
}
.message__like:hover .message__like__count,
.message__like:focus .message__like__count {
  color: #7b16ff;
}

.message__like--liked .message__like__icon {
  fill: #16171a;
}
.message__like--liked .message__like__count {
  color: #16171a;
}

.message__like__icon {
  width: 16px;
  height: 16px;
  fill: #a3afbf;
}

.message__like__count {
  color: #a3afbf;
}
