.form__inputWrap {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.form__label {
  min-width: 80px;
  flex: 0 0 80px;
}

.form__input {
  padding: 0.5em;
  border-radius: 4px;
  flex: 1;
  border: 1px solid #dfe7ef;
}

.form__input--hasError {
  border-color: red;
}

.form__buttonRow {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.form__submit {
  background-color: #38ca73;
  color: white;
  padding: 0.5em 2em;
  font-size: 18px;
  border-radius: 4px;
  border-bottom: 4px solid #2fa05e;
  margin-left: 10px;
}

.form__submit:hover,
.form__submit:focus {
  background-color: #2fa05e;
}

.form__submit[disabled] {
  opacity: 0.7;
  cursor: wait;
}

.form__reset {
  color: red;
}

.form__inputWrap--edited {
}

.form__error {
  color: red;
  text-align: right;
  flex: 1 0 100%;
}
