*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: rgb(22, 23, 26);
}

body {
  padding: 0;
  margin: 0;
  background-color: white;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

a:focus,
a:hover {
  color: rgb(123, 22, 255);
}

.main {
  display: flex;
  flex: 1;
  background-color: #f5f8fc;
  justify-content: center;
}
