.header {
  height: 40px;
  flex: 0 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #16171a;
  padding: 0 20px;
}

.logo {
  color: whitesmoke;
  font-weight: 700;
  font-style: italic;
}

.profileBox__content {
  background: white;
  border: 1px solid #dfe7ef;
  border-radius: 4px;
}

.profileBox__button__img {
  border-radius: 50%;
}

.profileNav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.profileNav__link {
  padding: 10px 25px;
  display: block;
  white-space: nowrap;
}

.profileNav__text {
  padding: 10px 25px;
  display: block;
  white-space: nowrap;
  cursor: default;
}

.profileNav__link:hover {
  background-color: #f5f8fc;
}

.profileNav li + li {
  border-top: 1px solid #dfe7ef;
}
