.login__container {
  align-self: center;
}

.login__title {
  margin: 0 0 40px;
}

.login__content {
  background-color: white;
  border: 1px solid rgb(223, 231, 239);
  border-radius: 6px;
  padding: 20px;
}

.form__buttonRow--login {
  justify-content: space-between !important;
  align-items: center;
}
