.profile__container {
  width: 500px;
  align-items: center;
}

.profile__content {
  background-color: white;
  border: 1px solid rgb(223, 231, 239);
  border-radius: 6px;
  padding: 20px;
  flex: 1;
}

.profileHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.profileHeader__img {
  border-radius: 100%;
}

.profile__inputWrap {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.profile__label {
  min-width: 80px;
  flex: 0 0 80px;
}

.profile__input {
  padding: 0.5em;
  border-radius: 4px;
  flex: 1;
  border: 1px solid #dfe7ef;
}

.profileHeader__name__input {
  width: 200px;
}

.profileForm__buttonRow {
  display: flex;
  justify-content: flex-end;
}

.profileForm__submit {
  background-color: #38ca73;
  color: white;
  padding: 0.5em 2em;
  font-size: 18px;
  border-radius: 4px;
  border-bottom: 4px solid #2fa05e;
  margin-left: 10px;
}

.profileForm__submit:hover,
.profileForm__submit:focus {
  background-color: #2fa05e;
}

.profileForm__reset {
  color: red;
}
